[submodule "vendor/urxvt-perls"]
	path = vendor/urxvt-perls
	url = git@github.com:muennich/urxvt-perls.git
[submodule "vendor/smartcd"]
	path = vendor/smartcd
	url = git@github.com:cxreg/smartcd.git
[submodule "vendor/icdiff"]
	path = vendor/icdiff
	url = https://github.com/jeffkaufman/icdiff.git
