URxvt.saveLines: 10000
URxvt.depth: 32
URxvt*background:  #000000
URxvt*foreground:  #A8A8A8
URxvt*scrollBar_right:	false
URxvt*scrollBar:	false
! allow multiple lines per refresh
URxvt.jumpScroll: true
! allow multiple screens per refresh
URxvt.skipScroll: true
! do not scroll to bottom on new output
URxvt.scrollTtyOutput: false
! but scroll to bottom on keypress
URxvt.scrollTtyKeypress: true
! do not scroll with the scrollback buffer as new lines appear
URxvt.scrollWithBuffer: true
!URxvt.background: [50]black
!URxvt.background: rgba:0000/0000/0000/4444
URxvt.secondaryScroll: true
!URxvt.font: xft:Bitstream Vera Sans Mono:pixelsize=12
URxvt*font: xft:Inconsolata:pixelsize=12:antialias=true, \
  xft:Bitstream Vera Sans Mono:pixelsize=12, \
  xft:Symbola:pixelsize=10:antialias=true:hinting=slight
URxvt*letterSpace: 0
!URxvt*imFont:               xft:Inconsolata-dz for Powerline:regular:pixelsize=12
!URxvt*boldFont:             xft:Inconsolata-dz for Powerline:bold:pixelsize=12
!URxvt*italicFont:           xft:Inconsolata-dz for Powerline:italic:pixelsize=12
!URxvt*boldItalicFont:       xft:Inconsolata-dz for Powerline:bold:italic:pixelsize=12

URxvt*borderLess:	false
URxvt*inheritPixmap:	true
!URxvt.perl-ext-common: default,matcher,font-size,uri-select
URxvt.perl-ext-common: default,matcher,font-size
URxvt.urlLauncher: google-chrome
URxvt.matcher.button: 1
URxvt.tabbed.saveLines: 10000
URxvt.tabbed.tabbar-fg: 3
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg: 0
URxvt.tabbed.tab-bg: 1
URxvt.tabbed.secondaryScroll: true

URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true

!URxvt.tabbed.font: xft:Bitstream Vera Sans Mono:pixelsize=12
!URxvt.tabbed.font: xft:Inconsolata:pixelsize=10
URxvt*shading: 23
URxvt*blurRadius: 1x23
URxvt*tintColor: #cccccc
Rails*tintColor: #89639B
!URxvt*transparent: false
!
URxvt*color0:      #000000
! red, was too dark
URxvt*color1:      #E53B37
!URxvt*color1:      #A80000
URxvt*color2:      #00A800
URxvt*color3:      #A85400
! blue
URxvt*color4:      #6363FF
URxvt*color5:      #A800A8
URxvt*color6:      #00A8A8
URxvt*color7:      #A8A8A8
URxvt*color8:      #545054
URxvt*color9:      #F85450
URxvt*color10:     #50FC50
URxvt*color11:     #F2FC50
URxvt*color12:     #5054F8
URxvt*color13:     #F854F8
URxvt*color14:     #50FCF8
URxvt*color15:     #F8FCF8

URxvt*cutchars: "`\"()'*<>[]{|}:="

Xft.dpi: 97
Xft.hinting: 1
Xft.hintstyle: hintmedium

Xlock.mode: strange
Xlock.background: black
Xlock.foreground: white
Xlock.mousemotion: on
Xautolock.time: 10
Xautolock.corners: +000
Xautolock.cornerdelay: 1
Xautolock.cornerredelay: 15
Xautolock.noclose: true
Xautolock.locker: xlock -mode strange -mousemotion

URxvt*termName: rxvt-256color

! change font size
URxvt.keysym.C-Up:     perl:font-size:increase
URxvt.keysym.C-Down:   perl:font-size:decrease
URxvt.keysym.C-S-Up:   perl:font-size:incglobal
URxvt.keysym.C-S-Down: perl:font-size:decglobal
URxvt.font-size.step: 2
